{{#> layout}}
{{#*inline "head"}}
<title>Error 404 - Euro 2016</title>
{{/inline}}
{{#*inline "body"}}
<div class="container text-center">
    <img style="max-width:100%;" src="http://img.memecdn.com/morphius-404_o_1938383.jpg">
</div>
{{/inline}}
{{/layout}}
