{{#> layout}}
{{#*inline "head"}}
<style type="text/css">
body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading {
    margin-bottom: 10px;
}
</style>
<title>Euro 2016 Betting Game</title>
{{/inline}}
{{#*inline "body"}}
<div class="container form-signin">
    <h2 class="form-signin-heading">Euro 2016</h2>
    <a class="btn btn-block btn-lg btn-social btn-facebook" href="{{@origin}}/auth/facebook">
        <i class="fa fa-facebook"></i> Sign in with Facebook
    </a>
    <a class="btn btn-block btn-lg btn-social btn-google" href="{{@origin}}/auth/google">
        <i class="fa fa-google"></i> Sign in with Google
    </a>
</div>
{{/inline}}
{{/layout}}
