{{#> layout}}
{{#*inline "head"}}
<link rel="alternate" type="application/atom+xml" href="{{origin}}/news.atom">
<title>News - Euro 2016</title>
{{/inline}}
{{#*inline "body"}}
{{> navbar}}
<div class="container">
<i class="fa fa-feed" aria-hidden="true"></i>
<a rel="alternate" type="application/atom+xml" href="{{origin}}/news.atom">Atom Feed</a>
<hr>

{{#each news}}
<p>
{{headline}}
<br>
<time>{{newsDate createdAt}}</time>
</p>
{{/each}}

</div>
{{/inline}}
{{/layout}}
