{{#> layout}}
{{#*inline "head"}}
<title>Register - Euro 2016</title>
{{/inline}}
{{#*inline "body"}}
{{> navbar}}
<div class="container form-signin">
    <h2 class="form-signin-heading">New Account</h2>
    <form action="/register" method="POST">
        {{#if error}}
        <div class="alert alert-danger" role="alert">
            <strong>Registration failed.</strong> {{error}}
        </div>
        {{/if}}
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Anonymous" minlength="3" maxlength="40" required value="{{name}}">
            <small class="form-text text-muted">
                Your name will be visible to anyone.
                You can change your name at any time.
            </small>
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="info@example.com" required value="{{email}}">
            <small class="form-text text-muted">We will send a confirmation link to your email account.</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="correct horse battery staple" minlength="6" required>
            <small class="form-text text-muted">We encrypt all passwords with bcrypt, one of the best password hashing algorithms available.</small>
        </div>
        <button class="btn btn-primary btn-block" type="submit">Register</button>
    </form>
</div>
{{/inline}}
{{/layout}}
