{{#> layout}}
{{#*inline "head"}}
<title>User Not Found - Euro 2016</title>
{{/inline}}
{{#*inline "body"}}
{{> navbar}}
<div class="container">
<div class="alert alert-warning">
    <strong>404</strong> User not found.
</div>
</div>
{{/inline}}
{{/layout}}
